
*{
    user-select: none;
}

#clock{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-color: rgb(165, 233, 250);
    background-image: url(clc.png), radial-gradient(rgb(253, 253, 253), rgb(11, 255, 235));
    background-position:center, center;
    background-size: cover;
    border-radius: 50%;
    
}

@font-face {
	font-family: myFont;
	src: url(calc.ttf);
    font-weight: 1000;
	
}

#dgtime{
    position: absolute;
    display: block;
    width: 20%;
    height: 4%;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: myFont;
    font-size: 2vw;
    border: .2vw solid rgb(210, 255, 120);
    border-radius: 1vw;
    background-color: rgb(249, 255, 228);
}
#hours, #minutes, #seconds
{
    position: absolute;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    transform-origin: bottom;

}

#hours{ 
    width: 2%;
    top: 24.5%;
    height: 26%;
    left: 48.27%;
    background-color: rgb(0, 65, 90);
}
#minutes{
    width: 1.5%;
    height: 32%;
    top: 18.5%;
    left: 48.5%;
    background-color: rgb(0, 122, 138);
}

#seconds{
    width: 1%;
    height: 37%;
    top: 13.5%;
    left: 48.8%;
    background-color: rgb(255, 185, 185);
}
#center
{
    width: 6%;
    height: 6%;
    top: 47.5%;
    left: 46.3%;
    border-radius: 50%;
    background-color: rgb(221 139 224);
    position: absolute;
}

#digital
{
    position: absolute;
    display: block;
    width: 30%;
    height: 4%;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Segoe UI;
    font-size: 1.1vw;
    border: .2vw solid rgb(0, 147, 192);
    border-radius: 1vw;
    background-color: rgb(228, 252, 255);
    
}

